* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-container {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
.sub-nav-container {
  width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.container-first {
  display: flex;
  justify-content: space-between;
}

.logo-name {
  text-decoration: none;
  color: #595959;
  font-weight: 600;
  font-size: 30px;
}
.searching {
  height: 40px;
  padding-left: 1rem;
  padding-right: 4.5rem;
  border-radius: 30px;
  border-color: #16e2e9;
  outline: none;
}
.formm {
  position: relative;
}
.search-btn {
  position: absolute;
  border-radius: 50%;
  padding: 5px 10px;
  right: 0;

  background-color: #25ebc6;
  border-color: #88c8bc;
}
.search-icon {
  width: 20px;
  border: 50%;
}

.container-second {
  display: flex;
  justify-content: space-between;
}
.nav-list {
  display: flex;
}
.lists {
  list-style: none;
}
.links {
  text-decoration: none;
  padding: 10px 12px;
  color: black;
}
.disount-message {
  background-color: #88c8bc;
  display: flex;
  justify-content: center;
}

.display-message {
  padding: 14px 0;
  color: white;
  width: 600px;
  font-size: 25px;
}

.big-div{
  height: 80vh;
}

.right-div {
  position: absolute;
  top: 50%; 
  transform: translate(0%, -50%);
  background-color: #f0f0f0; 
  width: 100px; 
  height: 200px; 
}
/* Styles for left div */
.left-div {
  position: absolute;
  top: 40%;
  left: 10px; 
  transform: translate(9%, -50%);
  width: 450px; 
  height: 200px; 
  padding-top: 300po;
}
.printer-image{
  padding: 70px 70px;
  height: 350px;
  margin-top: 40px;

}
.button-container {
  text-align: center;
  display: flex;
  justify-content:center;
  /* gap: 60px; */
  margin-top: -30px;
  
}

.button-box {
  display: flex;
  align-items: center;   
}

.add-to-cart-btn{
  background-color: orange;
  padding: 10px;
  text-align: justify;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
  height: 30px;
  width: 120px;
  margin: 20px;
  font-family: rokkitt;
  font-size: 18px;
  padding-top: 3.5px;
  border-radius: 8px;
}

.buy-now-btn {
  padding: 10px;
  text-align: justify;
  background-color: #5bf9da;
  /* color: black; */
  cursor: pointer;
  transition: background-color 0.3s ease-out;
  height: 30px;
  width: 120px;
  margin: 20px;
  font-family: rokkitt;
  font-size: 18px;
  padding-top: 3.5px;
  border-radius: 8px;
  
}




.buy-now-btn:hover {
  background-color: orange;
  transform: scale(1.1);
}

.add-to-cart-btn:hover{
  transform: scale(1.1);
  background-color: #25ebc6;
 
}


/* Styles for middle div */
.middle-div {
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 80px;
  width: 100%;

}

.product-info-box {
  display: flex;
  /* flex-direction: column;  */
  align-items: center;
  justify-content: center; 
  text-align: center; 
  width: 1000px; 
  padding-left: 150px;
  padding-top: 30px;
  
}
.product-info-box h2 {
  font-size: 25px; 
 padding-left: 150px;
  font-family: rokkitt;
  font-size: 28px;
  font-weight: 550;
  position: absolute;
  padding-top: 50px;
}

.properties{
  display: flex;
  width: 100%;
  padding-bottom: 40px;
  position: relative;
  padding-left: 482px;
  margin: 20px;
  padding-top: 30px;
  font-family: montserrat;  
}

.price-details {
  display: flex;
  /* margin-top: 10px;  */
  padding-left: 506px;
}
.price-details>p{
  line-height: 0px;
}

.price-original {
  text-decoration: line-through;
  color: #888;
  margin-right: 10px;
}

.price-discounted {
  /* font-size: 24px; */
  /* color: #fb00ff; */
  color: #010001;
  margin-right: 10px;
  font-family: rokkitt;
  font-size: 30px;
}

.price-off {
  color: red;
  margin-right: 10px;
  font-size: 25px;
  font-family: rokkitt;
}

.product-details-box {
  border: 1px solid #ddd;
  padding: 20px;
  margin-top: 20px;
  text-align: left;
  width: 60%;
  background-color: #5bf9da; 
  color: #fff; 
}

.additional-details-box{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  padding-left: 468px;
  margin: 35px;
  padding-top: 20px;
}
.additional-details-box h3 {
  font-size: 29px; 
  font-family: rokkitt;
  font-weight: 400;
}
.ramari-milauni{
  font-size: 15px;
  font-family: montserrat;
  margin-top: 10px;
  
}



.specification{
  position: absolute;
  top: 75%;
  right: 20px; 
  left: 860px;
  transform: translate(0%, -50%);
  background-color: #f0f0f0; 
  width: 390px; 
  height: 390px;
  padding: 20px; 
  border-radius: 10px;
  box-shadow: 5px solid black;
  
}

.specification-box {
  font-size: 30px;
  font-family: rokkitt;
  text-align: center;
}

.specifii{
  list-style: none;
  font-size: 18px;
  font-family: montserrat;
  padding-top: 30px;
  text-align: left;  
}

.linee{
  margin-top: 10px;
}
strong{
  opacity: 90%;
}

