* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .nav-container {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
  }
  .sub-nav-container {
    width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .container-first {
    display: flex;
    justify-content: space-between;
  }
  
  .logo-name {
    text-decoration: none;
    color: #504d4d;
    font-weight: 600;
    font-size: 32px;
    font-family: poppins;
    letter-spacing: 1px;
  }
  .searching {
    height: 40px;
    padding-left: 1rem;
    padding-right: 4.5rem;
    border-radius: 30px;
    border-color: #16e2e9;
    outline: none;
    font-family: montserrat;
    font-size: 15px;
  }
  form {
    position: relative;
  }
  .search-btn {
    position: absolute;
    border-radius: 50%;
    padding: 5px 10px;
    right: 0;
  
    background-color: #25ebc6;
    border-color: #88c8bc;
  }
  .search-icon {
    width: 20px;
    border: 50%;
    
  }
  
  .container-second {
    display: flex;
    justify-content: space-between;
  }
  .nav-list {
    display: flex;
  }
  .lists {
    list-style: none;
  }

  .links::after{
    content: "";
    display: block;
    background-color: transparent;
    position: absolute;
    width: 0;
    height: 2.7px;
    transform-origin: left;
    transition: all 0.3s ease-in-out;
    bottom: 9px;
  }


  .links:hover
  {
    color: magenta;
    }


  .links:hover::after,
  .links:active::after{
    position: absolute;
    width: 100%;
    background-color: rgb(8, 8, 8);
  }
  .links {
    text-decoration: none;
    padding: 10px 18px; 
    color: rgb(0, 0, 0);
    position: relative;
    /* width:fit-content; */
    font-size: 20px;
    font-family: rokkitt;
    letter-spacing: .5px;
    font-weight: 400;

  }
  .disount-message {
    background-color: #88c8bc;
    display: flex;
    justify-content: center;
  }
  
  .display-message {
    padding: 14px 0;
    color: white;
    width: 600px;
    font-size: 25px;
  }